# Mode of the Discord SDK
# "live" for production app deployments and end-to-end app testing inside Discord
# "mock" disables Discord authentication checks, enabling the app to run outside Discord
WORDLE_PUBLIC_DISCORD_SDK_MODE=live

# App OAuth credentials
WORDLE_PUBLIC_OAUTH_CLIENT_ID=oauth2-client-id-here
WORDLE_OAUTH_CLIENT_SECRET=oauth2-client-secret-here

# JWT Secret for signing tokens
WORDLE_JWT_SECRET=very_secure_jwt_secret_here

# Database
WORDLE_DATABASE_URL=file:./dev.db

# File with a list of available words to seed during deployment (optional)
WORDLE_AVAILABLE_WORDS_FILE=words.json

# Server host and port (optional)
# HOST=127.0.0.1
# PORT=3000

# Timezone (optional)
TZ=Europe/Warsaw

# Mock SDK configuration (when using "mock" SDK mode)
WORDLE_PUBLIC_MOCK_GUILD_ID=your-mock-guild-id-here
WORDLE_PUBLIC_MOCK_CHANNEL_ID=your-mock-channel-id-here
