# Mode of the Discord SDK
# "live" for production app deployments and end-to-end app testing inside Discord
# "mock" disables Discord authentication checks, enabling the app to run outside Discord
# NOTE: Currently this var is required and will not default to `live` in the browser
WORDLE_PUBLIC_DISCORD_SDK_MODE=live

# App OAuth credentials
WORDLE_PUBLIC_OAUTH_CLIENT_ID=oauth2-client-id-here
WORDLE_OAUTH_CLIENT_SECRET=oauth2-client-secret-here

# JWT Secret for signing tokens
WORDLE_JWT_SECRET=very_secure_jwt_secret_here

# Database file location
# The Docker image treats `/appdata` as the persistent storage location.
# For deployments using Docker, this should be `file:/appdata/wordle.db`
# For local deployments or testing, this can be any path.
WORDLE_DATABASE_URL=file:./wordle.db

# JSON file with a list of available words to automatically load during deployment (optional)
# WORDLE_AVAILABLE_WORDS_FILE=words.json

# Server host and port (optional)
# HOST=127.0.0.1
# PORT=3000

# Timezone (optional)
# TZ=Europe/Warsaw

# Mock SDK configuration (when using "mock" SDK mode)
# NOTE: Currently this var is required, even in live mode. Set it to anything.
WORDLE_PUBLIC_MOCK_GUILD_ID=your-mock-guild-id-here
WORDLE_PUBLIC_MOCK_CHANNEL_ID=your-mock-channel-id-here
