# Mode of the Discord SDK
# "live" for production app deployments and end-to-end app testing inside Discord
# "mock" disables Discord authentication checks, enabling the app to run outside Discord
# NOTE: Currently this var is required and will not default to `live` in the browser
WORDLE_PUBLIC_DISCORD_SDK_MODE=live

# Overview -> General Information -> Application ID/Public Key
WORDLE_PUBLIC_APPLICATION_ID=application-id-here
WORDLE_APPLICATION_PUBLIC_KEY=application-public-key-here

# Overview -> OAuth2 -> Client Secret
WORDLE_OAUTH_CLIENT_SECRET=oauth2-client-secret-here

# Overview -> Bot -> Token
WORDLE_BOT_TOKEN=bot-token-here
WORDLE_BOT_COMMAND_GUILD_IDS="123456789012345678 987654321098765432"

# JWT Secret for signing tokens
# Generate a random string with `openssl rand -hex 32` or use any other random generator
WORDLE_JWT_SECRET=very-secure-random-jwt-secret-here

# Database file location
# The Docker image treats `/appdata` as the persistent storage location.
# For deployments using Docker, this should be `file:/appdata/wordle.db`
# For local deployments or testing, this can be any path.
WORDLE_DATABASE_URL=file:./wordle.db

# JSON file with a list of available words to automatically load during deployment (optional)
# WORDLE_AVAILABLE_WORDS_FILE=words.json

# Server host and port (optional)
# HOST=127.0.0.1
# PORT=3000

# Timezone (optional)
# TZ=Europe/Warsaw

# Mock SDK configuration (when using "mock" SDK mode)
# NOTE: Currently this var is required, even in live mode. Set it to anything.
WORDLE_PUBLIC_MOCK_GUILD_ID=your-mock-guild-id-here
WORDLE_PUBLIC_MOCK_CHANNEL_ID=your-mock-channel-id-here
